<section class="hme">
    <div class="hme-cnt">
        <div class="bg-text-1">PROFESSIONAL</div>
        <div class="bg-text-2">RESUME</div>
        <div class="container intro">
            <div class="intr">
                <span>My Self,</span><br>
                <span class="name">PavanKumar</span>
            </div>
            <div class="res-bttn">
                <p>Analyst Trainee at Cognizant with experience in ETL, Informatica (PowerCenter, IICS), and data modeling, 
                    along with Full Stack development 
                    skills in Java, Spring Boot, and React.js. Passionate about building scalable, user-focused solutions.</p>
                <a href="assets/images/cts.pdf" download>
                    <button class="cv">Download CV</button>
                </a>
            </div>
            <div class="photo">
                <div class="image"></div>
            </div>
            <div class="title">
                <span>I'm<br></span>
                <div class="text-wrapper">
                    <div class="text developer">a Java FullStack Developer</div>
                    <div class="text tester">an Analyst Trainee at Cognizant</div>
                </div>
                <p></p>
            </div>
        </div>
        <div class="arbtn">
            <button routerLink="/" fragment="about"><img src="assets/images/downarrow.svg" alt="error" width="25px" height="25px"></button>
        </div>
    </div>
</section>
